<div class="mt-4">
    <div>
        <h3>Khóa học đã xóa</h3>
        <div class="text-right">
            <a class="text-right" href="/profile/courses">Quay lại danh sách khóa học</a>
        </div>
    </div>
    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Chi tiết</th>
                <th scope="col">Thời gian tạo</th>
                <th scope="col">Hành động</th>
            </tr>
        </thead>
        <tbody>
            {{#each course}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.desc}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <button class="btn btn-primary btn-restore" data-id="{{this._id}}">Khôi phục</button>
                    <a class="btn btn-dark" data-toggle="modal" data-id="{{this._id}}" data-target="#exampleModal"
                        role="button">Xóa vĩnh viễn</a>
                </td>
                {{else}}
            <tr>
                <td colspan="5" class="text-center">
                    Không có khóa học nào bị xóa
                </td>
            </tr>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn muốn xóa vĩnh viễn khóa học này không?
                    Hành động này sẽ không được hoàn tác.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                    <button id="delete-course" role="button" href="" class="btn btn-primary">Có</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        $('.btn-restore').on('click', function (e) {
            e.preventDefault()
            const id = $(this).data('id')
            const url = `/courses/${id}/restore?_method=PATCH`
            var $form = $(`<form action="${url}" method="POST"></form>`)
            $form.appendTo($('body')).submit();
        })
        var idDel;
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            idDel = button.data('id')
        })
        $('#delete-course').on('click', function () {
            const url = `/courses/${idDel}/force?_method=DELETE`
            var $form = $(`<form action="${url}" method="POST"></form>`)
            $form.appendTo($('body')).submit();
        })
    }
</script>